<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

    <title>Document</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        .nav {
            position: relative;
            min-height: 50px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 0px;
            background-color: #222;
            border-color: #080808;
        }


        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            margin-bottom:6px;
        }

        li {
            font-size: 25px;
            font-family: 'Work Sans', sans-serif;
            padding: 2px 8px;
        }

        li a {
            display: inline-block;
            text-align: center;
            text-decoration: none;
            padding: 2px 15px;
            color: white;
        }

        li a:hover {
            display: inline-block;
            text-align: center;
            text-decoration: none;
            padding: 2px 15px;
            color: gray;
        }

        .nav-text {
            display: inline-block;
            text-align: center;
        }

        .nav-text2 {
            text-align: center;
            float: right;
            padding-top: 7px;
        }

        .nav-text1 {
            display: inline-block;
            background-color: #111;
            text-align: center;
            font-size: 16px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: black;
            text-align: center;
            font-size: 20px;
        }

        .pimage {
            height: 150px;
            width: 150px;
        }

        .product {
            margin: 20px;
            display: inline-block;
        }

        .row_products {
            margin-top: 50px;
            float: right;
            width: 785px;
            margin-bottom: 5%;
        }

        ul.list li{
            background-color: white;
            color: black;
            display:inline;
        }
        ul.list{
            background-color: white;
            margin-bottom: 45px;
            margin-left: 110px;
        }

        .list_item a {
            background-color: white;
            color: black;
            width:120px;        }

        .list_item a:hover {
            color: grey;
        }
        
        .content{
            width: auto;

            margin-top: 30px;
            font-family: 'Work Sans', sans-serif;
            font-size: 25px;
            margin-bottom: 50px;
        }
        table {
            border: 1px solid black;
            border-collapse: collapse;
            width: 800px;
            margin: auto;

        }

        tr {
            border: 1px solid black;
        }

        th,td {
            padding: 5px;
            text-align: center;
            font-size: 20px;
        }
        th{
            font-size:25px;
        }
        a.link1{
            color: black;
            background-color: transparent;
            text-decoration: none;
            padding: 8px;
            font-size: 20px;
        }
        a.link1:hover {
        color: gray;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li class="nav-text1"><a href="/dash"><i class="fas fa-shopping-cart fa-2x"></i></a></li>
            <li class="nav-text"><a href="/dash">Home</a></li>
            <li class="nav-text"><a href="/contact">Contact</a></li>
            <li class="nav-text2"><a href="/logout">Logout</a></li>
            <li class="nav-text2">
            <a href="/cart">MyCart</a></li>            
        </ul>
    </nav>
    

    <% if (c>0) { %>
        <div class="content">
        <table>
            <tr class="home">
                <th>Product</th>
                <th>Quantity</th>
                <th>Amount(INR)</th>
                <th>Date</th>
                <th></th>
            </tr>
                <% results.forEach(function(result){%>
                    <% p= result._id %>
                <tr>
                 <td><a style="color: #080808; text-decoration: none;" href='/products/<%= result.category %>/<%= result.oid %>'><%= result.title %></a></td>
                    <td><%= result.quantity %></td>
                    <td><%= (result.price)*(result.quantity) %></td>
                    <td><%= (result.date) %></td>
                    <td>
                        <a style="color: #080808;" href='/products/<%= result.category %>/<%= result.oid %>'>  
                              <img id="image" src="/product_images/<%= result.oid %>/<%= result.image %>" style="height:100px; width:150px">
                        </a>
                    </td> 
                </tr>
                <% }); %>
        </table>
    </div>
        <% } else {%>
        <center><h2 style="width:auto; margin: auto; margin-top: 130px; margin-bottom: 8px; font-size: 32px;">No previous orders</h2>
        <h5><a class="link" href="/products" style="color:#080808; font-size: 22px;">Buy now</a></h5></center>
        <% }%>
    
        

    <div class="footer">madewithlove</div>

</body>


<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

</html>